.refined-options {
  position: absolute;
  top: 0;
  left: 100%;
  width: 200px;
  z-index: 9999;
  display: none;
}

#refinedOptionsDropdown {
  width: 100%;
}

.refined-search {
  width: 100%;
  margin-top: 10px;
}
